@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

/* Animação do Scanner */
@keyframes scan {

    0%,
    100% {
        top: 0%;
    }

    50% {
        top: 98%;
    }
}

.animate-scan {
    animation: scan 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}